@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lato&display=swap');

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-ebg {
  font-family: 'EB Garamond', serif;
}

.woods-bg {
  background-image: url("../images/homepage_mobile_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.bg-transparent-black {
  background-color: #000000c4;
}

@media (min-width: 600px) {
  .woods-bg {
    background-image: url("../images/homepage_desktop_bg.png");
  }
}
