// Bootstrap
@import 'bootstrap/scss/bootstrap.scss';

// Slick Carousel
@import "slick-carousel/slick/slick.css";

// Vendor CSS
@import '../../public/assets/css/vendor.css';

// Main Theme Styles
@import '../../public/assets/sass/style.scss';
